/* GENERAL */
:root {
    --primary-color: lightblue;
    --secondary-color: beige;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
  }
  
  /* HEADER */
  header {
    background-color: var(--primary-color);
  }
  
  /* RESPONSIVE */
  @media (max-width: 768px) {
    header h1 {
      font-size: 1.5rem;
    }
  }
  
  .header{
    background-color: var(--primary-color);
    
  }